<div class="footer">
  <div class="footer-content">
    <p>STEM Talks Menorca 2026</p>
    <div class="social-icons">
      <a href="https://www.instagram.com/gdgmenorca" target="_blank">
        <img src="assets/instagram.png" alt="Instagram Logo" class="social-icon" />
      </a>
      <a href="https://join.slack.com/t/gdgmenorca/shared_invite/zt-2u622vv0i-lFrME6zwUqnEbOtwDmOyNw" target="_blank">
        <img src="assets/slack.png" alt="Slack Logo" class="social-icon" />
      </a>
      <a href="https://www.X.com/gdgmenorca" target="_blank">
        <img src="assets/x.png" alt="Facebook Logo" class="social-icon" />
      </a>
    </div>
    <p> info@gdgmenorca.dev </p>
  </div>
</div>