<!-- map.component.html -->
<div class="map-container">
  <!-- Right column: Google Map -->
  <div class="right-column">
    <iframe width="100%" height="100%"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d906.4940960278245!2d4.094250969651442!3d39.990450425709085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12be218a1b9e7575%3A0x89c1bd5f7f847194!2sAcelera%20PYME%20Balears!5e1!3m2!1ses!2sdk!4v1773164105892!5m2!1ses!2sdk"
      style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>

  <!-- Left column: Address and Building Information -->
  <div class="left-column">
    <h2 class="building-title">Oficina Acelera Pyme Menorca impulsada por el Col·legi Oficial d'Enginyeria Industrial de
      les Illes Balears</h2>
    <p class="building-address"> Ronda de S'Estancia, 33. Es Mercadal, Illes Balears</p>
    <p class="building-address">¡Trae tu portátil!</p>
    <a href="https://acelerapymemenorca.com/es/event/stem-talks-menorca-2026-web-performance-debugging-con-chrome-devtools-mcp-y-agents-de-ia/"
      target="_blank">
      <button class="get-tickets-button">Entradas para el taller de Joan</button>
    </a>
    <a href="https://acelerapymemenorca.com/es/event/stem-talks-menorca-2026-charla-y-taller-desarrollando-con-ia-en-2026-nuestra-primera-web-con-google-antigravity-y-google-stitch/"
      target="_blank">
      <button class="get-tickets-button">Entradas para el taller de Víctor</button>
    </a>
    <p class="building-address"> Busca los talleres técnicos con la etiqueta "STEM Talks Menorca"</p>
  </div>
</div>
<div class="map-container">
  <!-- Left column: Address and Building Information -->
  <div class="left-column">
    <h2 class="building-title">Estació Marítima - Port de Maó</h2>
    <p class="building-address"> Moll de Ponent, s/n, 07701 Maó, Illes Balears</p>
    <a href="https://gdg.community.dev/events/details/google-gdg-menorca-presents-stem-talks-menorca-2026/"
      target="_blank">
      <button class="get-tickets-button">Entradas</button>
    </a>
  </div>

  <!-- Right column: Google Map -->
  <div class="right-column">
    <iframe width="100%" height="100%"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d884.2993571942982!2d4.2638525059614985!3d39.890830431932265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1295879b03d8813d%3A0x8d41a16184dc24f6!2zQmFsZcOgcmlhIHwgTWHDsw!5e1!3m2!1ses!2sdk!4v1773164325519!5m2!1ses!2sdk"
      style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
</div>