<div class="schedule-container">
    <app-boton-entradas></app-boton-entradas>

    <h2>Horario</h2>
  
    <div *ngFor="let day of schedule; let dayIndex = index">
      <h3>{{ day.day }}</h3>
  
      <div *ngFor="let talk of day.talks; let i = index">
        <div class="dropdown">
          <div class="dropdown-toggle" (click)="toggleSummary(dayIndex, i)">
            <div class="time-box">{{ talk.time }}</div>
            <div class="talk-info">
              <div class="talk-title">{{ talk.title }}</div>
              <div class="speaker-name">{{ talk.speaker }}</div>
            </div>
            <a *ngIf="talk.registrationLink" [href]="talk.registrationLink" target="_blank" class="registration-btn" (click)="$event.stopPropagation()">Registrarse al taller</a>
          </div>
  
          <!-- Dropdown Summary Section -->
          <div class="dropdown-summary" [class.open]="day.isOpen[i]">
            <p>{{ talk.summary }}</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="location-info">
      <!-- ... información de ubicación existente ... -->
    </div>
  </div>
  