<!-- sponsors.component.html -->
<div class="sponsors-container">
  <!-- First level: Coorganizadores -->
  <div class="level">
    <h2>Coorganizadores</h2>
    <div class="coorganizadores">
      <!-- Clickable images for coorganizadores -->
      <a href="http://www.cime.es/" target="_blank">
        <img src="assets/partners/cime.png" alt="CIME" class="sponsor-mid-pic" />
      </a>
    </div>
  </div>

  <!-- Second level: Sponsors Level 2 -->
  <div class="level">
    <h2>Sponsors</h2>
    <div class="sponsors">
      <!-- Clickable images for sponsors -->
      <a href="https://cadenaser.com/radio-menorca/" target="_blank">
        <img src="assets/partners/cadenaser.png" alt="Radio Menorca" class="sponsor-mid-pic" />
      </a>
      <a href="https://developers.google.com/?hl=es-419" target="_blank">
        <img src="assets/partners/google.png" alt="Google for Developers" class="sponsor-mid-pic" />
      </a>
    </div>
  </div>

  <!-- Second level: Sponsors Level 3 -->
  <div class="level">
    <div class="sponsors">
      <!-- Clickable images for sponsors -->
      <a href="https://fib.upc.edu" target="_blank">
        <img src="assets/partners/fib.png" alt="Facultat d'Informàtica de Barcelona" class="sponsor-small-pic" />
      </a>
      <!-- <a href="https://icono.cat" target="_blank">
        <img src="assets/partners/icono.png" alt="ICONO" class="sponsor-small-pic" />
      </a> -->
      <a href="https://uib.cat" target="_blank">
        <img src="assets/partners/uib.png" alt="Universitat de les Illes Balears" class="sponsor-small-pic" />
      </a>
      <!-- <a href="https://photopills.com/" target="_blank">
        <img src="assets/partners/photopills.png" alt="PhotoPills" class="sponsor-small-pic" />
      </a> -->
      <a href="https://atalisfunding.com/" target="_blank">
        <img src="assets/partners/atalis.png" alt="Atalis Funding" class="sponsor-small-pic" />
      </a>
      <a href="https://mabrian.com/" target="_blank">
        <img src="assets/partners/mabrian.jpg" alt="Mabrian" class="sponsor-small-pic" />
      </a>
      <!-- <a href="https://www.farhub.info/" target="_blank">
        <img src="assets/partners/farhub.png" alt="FarHub" class="sponsor-small-pic" />
      </a> -->
    </div>
  </div>

  <div class="sponsor-info">
    <div class="text-left">
      <h3>¿Te interesaría patrocinar el STEM Talks Menorca 2026?</h3>
      <p>
        Queremos que los sponsors sean parte activa del evento y ayuden a crear la mejor experiencia para los
        asistentes.
      </p>
      <p>
        Trabajemos juntos para que tus productos y servicios lleguen al sector tecnológico de Menorca.
      </p>
      <p>
        Si quieres formar parte del DevFest 2024, contacta con nosotros enviando un mail a <a
          href="mailto:info@gdgmenorca.dev">info@gdgmenorca.dev</a>.
      </p>
    </div>
    <div class="pdf-right">
      <!-- PDF Embed (adjust the src link to your actual PDF) -->
      <embed src="assets/dosier-patrocini.pdf" width="600" height="800" type="application/pdf" />
    </div>
  </div>
</div>